@font-face {
  font-family: 'zkklt';
  src: url('../fonts/zkklt.eot');
  src: 
    url('../fonts/zkklt.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/zkklt.woff2') format('woff2'),
    url('../fonts/zkklt.woff') format('woff'),
    url('../fonts/zkklt.ttf') format('truetype'),
    url('../fonts/zkklt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-zkklt{
	font-family: zkklt;
}

@import './scaffolding/index.styl';
@import './outline/index.styl';
@import './components/index.styl';
@import './responsive.styl';
